{% extends "base.html" %}

{% block content %}

<div class="container">
  {% if request.user.is_authenticated %}
    <br><br>
    <div class="form-group ">
      <form class="form-inline justify-content-center">
          <input class="form-control rounded col s12 16" type="search" name="search"
                placeholder="Please search here"> </input>
          <button type="submit" class="btn btn--orange">Search</button>
      </form>
    </div>
    <br>
    {% if paperworks_list %}
      <table class="table">
        <caption class="table__caption">The List of Paperworks</caption>
        <thead class="table__thead">
          <tr class="table__tr">
            <th class="table__th" scope="col"><a href="?order_by=customer__first_name">First Name</a></th>
            <th class="table__th" scope="col"><a href="?order_by=customer__last_name">Last Name</a></th>
            <th class="table__th" scope="col">EWR</th>
            <th class="table__th" scope="col">PV</th>
            <th class="table__th" scope="col">Invoiced</th>
            <th class="table__th" scope="col"><a href="?order_by=-dateCreate">Created</a></th>
            <th class="table__th" scope="col"><a href="?order_by=createBy">CreateBy</a></th>
            <th class="table__th" scope="col"><a href="?order_by=-dateUpdate">Updated</a></th>
            <th class="table__th table__col--nowrap" scope="col">Action</th>
          </tr>
       </thead>
       <tbody class="table__tbody">
         {% for record in paperworks_list %}
             <tr class="table__tr">
                 <td class="table__td" data-label="First Name">{{ record.customer.first_name }}</td>
                 <td class="table__td" data-label="Last Name">{{ record.customer.last_name }}</td>
                 <td class="table__td" data-label="EWR">{% if record.ewrFile %}<a href="/media/{{record.ewrFile}}"> Yes </a> {% else %} No {% endif %}</td>
                 <td class="table__td" data-label="PV">{% if record.pvFile %}<a href="/media/{{record.pvFile}}"> Yes </a> {% else %} No {% endif %}</td>
                 <td class="table__td" data-label="Invoiced"> {% if record.invoiceFile %}<a href="/media/{{record.invoiceFile}}"> {{ record.datePaper|date:'Y-m-d' }} </a> {% else %} {{ record.dateInstall|date:'Y-m-d' }} {% endif %}</td>
                 <td class="table__td" data-label="Created"> {% if record.dateCreate %} {{ record.dateCreate|date:'Y-m-d' }} {% else %} No {% endif %}</td>
                 <td class="table__td" data-label="CreateBy">{{ record.createBy }}</td>
                 <td class="table__td" data-label="Updated"> {% if record.dateUpdate %} {{ record.dateUpdate|date:'Y-m-d' }} {% else %} No {% endif %}</td>
                 <td class="table__td table__col--nowrap" data-label="Action">
                   <div class="table__td__btn">
                     <button class="btn btn--blue"   {% if not perms.projects.change_paperwork %} disabled {% endif %}><a {% if perms.projects.change_paperwork %} href="{% url 'projects:update_paperwork' record.pk %}" {% endif %}>Update</a></button>
                     <button class="btn btn--orange" {% if not perms.projects.delete_paperwork %} disabled {% endif %}><a {% if perms.projects.delete_paperwork %} href="{% url 'projects:delete_paperwork' record.pk %}" {% endif %}>Delete</a></button>
                   </div>
                 </td>
             </tr>
         {% endfor %}
       </tbody>
      </table>
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% else %}
      <h3>No Paperworks Registered! :(</h3>
    {% endif %}
  {% else %}
    <h2> Please Login First !</h2>
  {% endif %}
</div>

{% endblock %}
